@(currentPage: com.avaje.ebean.Page[Ad])
@import java.math.BigInteger; var index=1;
    @import helper.twitterBootstrap._



    @main("EasyDrive, Future of car sharing!") {

        @if(Utils.Utilities.randomNum() == 0){
            <div class="bg-car">
        }else{
            <div class="bg-car2">
        }
            <div class="container">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <span>
                <h1> <span style="background:rgba(54, 25, 25, .5);color:white;text-shadow: 1px 1px #ffffff"> EasyDrive </span></h1>
                    <h1> <span style="background:rgba(54, 25, 25, .5);color:white;text-shadow: 1px 1px #ffffff"> Car renting service of the future </span></h1>
                </span>
                    <h1>
                    <a href="@routes.Ads.newAd()" class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i> Rent your car </a>
                    </h1>
                    @*<p>*@
                        @*<form class="navbar-form" role="search" action="#" method="get">*@
                            @*<div class="input-group">*@
                                @*<input type="text" class="form-control" placeholder="Find a car!" name="keyword" >*@
                                @*<div class="input-group-btn">*@
                                    @*<button class="btn btn-default" type="submit" value="Search"><i class="glyphicon glyphicon-search"></i></button>*@
                                @*</div>*@
                            @*</div>*@
                        @*</form>*@
                    @*</p>*@
                <br><br><br><br><br><br><br><br><br>
            </div>
        </div>
        <div class="bg-text">
            <div class="container">
                <br><br>
                <h4>
                    <i>
                        <div class="col-md-6">
                            <p><b>Do you have a car?</b></p>
                            <p>You can rent your car to others and earn money and also help our planet by reducing CO2 emissions!</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>Do you need a car? </b></p>
                            <p>Use our powerful search engine and find the right car nearby! Contact the owner for more information!</p>
                        </div>
                    </i>
                </h4>
                <br><br>
                <br><br>
                <br><br>
            </div>


        </div>


        <div class="container">
            <h3 > Latest cars (<a href="@routes.Ads.all(0)"> See all </a>)</h3>
            @for(ad <- currentPage.getList()) {
                    @if(index % 3 == 0){
                        <div class="row">
                        }

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a href="@routes.Ads.details(ad.id)">
                            @if(ad.getPicture != null){
                                <img src="@routes.Ads.picture(ad.id)"
                                class="img-responsive img-thumbnail"
                                alt="@ad.toString"
                                @*width="300"*@
                                >
                            } else {
                                <img src="@routes.Assets.at("images/placeholder-car.jpg")"
                                class="img-responsive img-thumbnail"
                                alt="@ad.toString"
                                @*width="300"*@
                                >
                            }
                            </a>
                            <div class="caption">

                                <p><b>@ad.car (@ad.location)</b></p>
                                <p>@ad.description</p>
                                @*<div class="text-center"><a href="@routes.Ads.details(ad.id)" class="btn btn-primary" role="button">ad.</a></div>*@
                            </div>
                        </div>
                    </div>

                    @if(index % 3 == 0){
                    </div>

                    }
                    @{index = index+1}
            }
            @if(index-1 % 3 != 0){
                </div>
                }

        </div>



    }