@(ad: Ad)
@import helper._
@import helper.twitterBootstrap._

@main("Details") {
  <div class="container">
      <div class="thumbnail">

        @if(ad.getPicture != null){
          <img src="@routes.Ads.picture(ad.id)"
          class="img-responsive img-thumbnail"
          alt="@ad.toString"
          >
        } else {
          <img src="@routes.Assets.at("images/placeholder-car.jpg")"
          class="img-responsive img-thumbnail"
          alt="@ad.toString"
          >
        }
        <div class="caption">

          <p><b>@ad.car (@ad.location)</b></p>
          <p><b>From @ad.user.name: @ad.user.tel / @ad.user.email</b></p>
          <br>
          <p>@ad.description</p>
        </div>
      </div>



  </div>
}