@(currentPage: com.avaje.ebean.Page[Ad])
@import java.math.BigInteger; var index=1;
@import helper.twitterBootstrap._



@main("All Advertisements") {

    <div class="container">
        <div class="col-md-8">
            <h3 > All Advertisements: </h3>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <nav>
                    <ul class="pagination">
                        @if(currentPage.hasPrev) {
                            <li aria-label="Previous">
                                <a href="@routes.Ads.list(currentPage.getPageIndex - 1)">&laquo; </a>
                            </li>
                        } else {
                            <li aria-label="Previous disabled">
                                <a>&laquo;</a>
                            </li>
                        }
                        <li class="current">
                            <a>@currentPage.getDisplayXtoYofZ(" to ", " from ")</a>
                        </li>
                        @if(currentPage.hasNext) {
                            <li aria-label="Next">
                                <a href="@routes.Ads.list(currentPage.getPageIndex + 1)"> &raquo;</a>
                            </li>
                        } else {
                            <li aria-label="next disabled">
                                <a>&raquo;</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        @for(ad <- currentPage.getList()) {
            @if(index % 3 == 0){
                <div class="row">
                }

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="@routes.Ads.details(ad.id)">
                    @if(ad.getPicture != null){
                        <img src="@routes.Ads.picture(ad.id)"
                        class="img-responsive img-thumbnail"
                        alt="@ad.toString"
                        @*width="300"*@
                        >
                    } else {
                        <img src="@routes.Assets.at("images/placeholder-car.jpg")"
                        class="img-responsive img-thumbnail"
                        alt="@ad.toString"
                        @*width="300"*@
                        >
                    }
                    </a>
                    <div class="caption">

                        <p><b>@ad.car (@ad.location)</b></p>
                        <p>@ad.description</p>
                    </div>
                </div>
            </div>

            @if(index % 3 == 0){
            </div>

            }
            @{index = index+1}
        }
        @if(index-1 % 3 != 0){
        </div>
}

</div>



}