@(adForm: Form[Ad])
@import helper._
@import helper.twitterBootstrap._

@main("Car rental form") {
    @helper.form(action = routes.Ads.save()) {
        <fieldset>
            @*<h3>(@deviceForm("id").valueOr("New Device"))</h3>*@
            <div class="jumbotron">

                <div class="row">
                    <div class="col-sm-6">
                        <input type="hidden" value="@adForm("id").valueOr("")" name="id"/>
                        @*<input type="hidden" value="@adForm("user").valueOr("")" name="user"/>*@
                        @*<input type="hidden" value="@adForm("date")" name="date"/>*@
                        @helper.textarea(adForm("description"), '_label -> "Description", 'class -> "form-control")

                    </div>
                    <div class="col-sm-6">

                        @select(
                            adForm("car"),
                            options = options(Car.allCarsAsOptions()),
                            '_label -> "Car model",
                            '_default -> "Choose a car"
                        )

                        @select(
                            adForm("location"),
                            options = options(Location.allLocationsAsOptions()),
                            '_label -> "City",
                            '_default -> "Choose a city"
                        )
                    </div>
                </div>
            </div>
        </fieldset>

        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@request.getHeader("referer")">Cancel</a>

        <script type="text/javascript">
            function deleteAd(urlToDelete) {
                if (confirm("Are you sure you want to delete this? This action cannot be reversed!")) {
                    $.ajax ( {
                        url : urlToDelete,
                        type : 'DELETE',
                        success : function ( results ) {
                           window.location.replace ( " @routes.Ads.list(0) ");
                        }
                    }
                    ) ;
                }
                return false;
            }
        </script>


        @if(adForm.value.size > 0 && adForm("id").value != "") {
            <div class="pull-right">
                <a class="btn btn-danger" onclick="javascript : deleteDevice ( '  @routes.Ads.delete(adForm.get.id) ')"><i class="glyphicon glyphicon-trash"></i>
                    Delete</a>
            </div>
        }


    }




}